SECRET_KEY = change-me-to-a-50-character-random-string
DEBUG = True
ALLOWED_HOSTS = localhost,127.0.0.1
DB_NAME = QuickMart
DB_USER = postgres
DB_PASSWORD = your-db-password-here
DB_HOST = localhost
DB_PORT = 5432
REDIS_URL = redis://localhost:6379/0
CELERY_BROKER_URL = redis://localhost:6379/1
CELERY_RESULT_BACKEND = redis://localhost:6379/1
EMAIL_USER = your_email@example.com
EMAIL_PASSWORD = your_email_password


STRIPE_SECRET_KEY = sk_test_your_stripe_secret_key_here
STRIPE_PUBLISHABLE_KEY = pk_test_your_stripe_publishable_key_here
STRIPE_WEBHOOK_SECRET = whsec_your_webhook_secret_here